/bin
.sonar
junit*.properties
sonar/*/target
forrest.properties
compile-lib/
ooxml-lib/
sonar/main/src/
sonar/ooxml/src/
sonar/scratchpad/src/
sonar/ooxml-schema-security/src/
sonar/examples/src/
sonar/excelant/src/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# IntelliJ
/out/
