/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/*
 * Other colors:
 *  - dark blue: #036
 *  - bluish: #269
 *
 */

/*
 * The Banner section.
 */
.banner, .projectLogo, .groupLogo, .projectLogo a, .groupLogo a,
    .groupLogo a:visited, .projectLogo a:visited,
    .groupLogo a:link, .projectLogo a:link {
}

/*
 * The Status + Footer section.
 */
.status, .breadcrumb, .searcher, .tabs {
}

.selectedTab {
}

/*
 * The Menu section.
 */
.menuColumn {
}
.menubar {
}
.menu {
}
.menuLabel {
}
.menuItem {
}

/*
 * The Content section.
 */
.contentColumn {
}

h1, h2, h3, h4 {
}

h3, h4 {
 }
h3 {
  }
h4 {  
}

.code {
}

.section {
}

.subsection {
}

/*
 * The Footer section.
 */
.footer, .copyright, .host, .credit {
}

/*
 * General Settings
 */
body {
}

a:link, .menuItem a:visited, .status a:visited {
 color: #036;
}

a:active, a:hover {

}

body, th, td {
}

.logoImage {
}

.frame {
  border: solid black 1px;
  margin: 1em 3em;
}

.frame .label {
  background: #369;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}
.frame .content {
  padding: 5px 10px;
  background: #F0F0FF;
  color: black;
  line-height: 120%;
  font-size: 90%;
}
.warning .label {
  background: #C00;
  color: white;
}
.warning .content {
  background: #FFF0F0;
  color: black;
}
.fixme .label {
  background: #C6C600;
}

.codefrag {
  font-family: "Courier New", Courier, monospace;
  font-size: 110%;
}
